@model Services.Models.USERS
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="auth-box">
                @using (Html.BeginForm("Register", "Accounts", FormMethod.Post, new
                {
                    @class = "registrtion-form",
                    @id = "registrationForm",
                    enctype = "multipart/form-data"
                }))
                {
                    <div class="form-group">
                        <lable class="control-label">Name</lable>
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @id = "txtName", @required = "true" })
                    </div>
                    <div class="form-group">
                        <lable class="control-label">Name</lable>
                        @Html.DropDownListFor(m => m.CreatedBy, new SelectList(ViewBag.Users, "Id", "Name"), new { @class="form-control"})
                    </div>
                    <div class="form-group">
                        <lable class="control-label">Email</lable>
                        @Html.TextBoxFor(m => m.Email, new { @type = "email", @class = "form-control", @id = "txtEmail", @required = "true" })
                    </div>
                    <div class="form-group">
                        <lable class="control-label">Password</lable>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @id = "txtPassword", @required = "true" })
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>

                }
            </div>
        </div>
    </div>
</div>

